<section class="chat-rooms container clearfix">
   <h1>Bloc Chat</h1>
    <form ng-submit="sayHello()">
    <div>
        <label for="name">Create Chat Room</label>
        <input type="text" id="name" name="user_name" ng-model="newRoomName">
    </div>
   <button class="btn-sm btn-success" type="submit">Create Chat Room</button>
    </form>
   <div class="hr"></div>
     <div class="column fourth">
         <div class="rooms" ng-repeat="room in allRooms">
             <h4>{{ room.name }}</h4>
         </div>
     </div>
  </section>

<!--

1. Create a form that we can fill out and submit
2. Learn about ng-submit and ng-model - two angular directives for forms
3. Connect the form to the add room function in the room service

-->
